.schema-anim { 
  clear: both;
  position: relative;
  height: 400px;
  width: 500px;
  top: 0px;
  left: 30px;
  z-index: 1;
  float: left;
}
div.schema-anim div#canvas_line_back, div.schema-anim div#canvas_line1, div.schema-anim div#canvas_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 500px;
}